html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  color: #1a1a1a;
}

a:hover {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bolder;
}

a:visited {
  color: #1a1a1a;
  text-decoration: none;
}

.homePageSplasher {
  width: auto;
  height: 670px;
  background-color: #46c997;
  background-image: url('../images/nature.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Lato', sans-serif;
  padding-top: 250px;
  /*padding-bottom: 30%;*/
}

#mainheading {
  font-size: 60px;
}

#headinghr {
  width: 20%;
  border-color: white;
  border-width: 1px;
}

#subheading {
  font-size: 25px;
  word-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

#spasherarrow {
  font-size: 50px;
  color: white;
  margin-top: 13%;
  font-weight: lighter;
}

.maininfo {
  width: auto;
  height: auto;
  background-color: #ecede8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box {
  width: 340px;
  height: 320px;
  border: 1px solid #1a1a1a;
  background-color: white;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: white;
}

.boxhead {
  width: auto;
  height: auto;
  border: 1px solid #1a1a1a;
  margin: -1px;
  padding-bottom: 10px;
  background-color: #1a1a1a;
  font-weight: lighter;
}

.statsdiv {
  padding: 10px;
}

.conservecredit {
  margin-left: 20px;
}

.boxstats {
  color: #1a1a1a;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  font-weight: lighter;
}

.currentsolutions {
  width: auto;
  height: auto;
  background-color: #e6f2ed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#ocean {
  width: 90%;
}

#oceanpollutionrightbox {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #1a1a1a;
  text-align: left;
}

.blackcircle {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  background-color: #1a1a1a;
  padding: 65px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

#ateyate {
  font-size: 100px; 
}

#rightstat {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #1a1a1a;
}

#rightstathr {
  width: 100%;
  border-width: 2px;
  border-color: #1a1a1a;
}

#rightstatsub {
  font-size: 30px;
  color: #1a1a1a;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.landpolldiv {
  width: auto;
  height: auto;
  background-color: white;
}

#whathappensleft {
  padding-top: 40px;
  padding-bottom: 40px;
}

.leftbox {
  color: #1a1a1a;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20%;
}

.rightbox {
  color: #1a1a1a;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

#whathappensright {
  padding-top: 100px;
  padding-bottom: 80px;
}

#natgeocredit {
  float: left;
}

.overpopdiv {
  width: auto;
  height: 300px;
  background-color: #ecede8;
  /*margin-top: 100px;*/
}

.beachpic {
  width: auto;
  height: 300px;
  background-image: url('../images/beach.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
  
  .homePageSplasher {
    background-image: none;
    color: #1a1a1a;
  }

  #garbagearr {
    display: none;
  }

  #whathappensright {
    padding-top: 20px;
  }

  .beachpic {
    width: auto;
    height: 300px;
    background-image: url('../images/beach.jpg');
    background-attachment: scroll;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: -22px;
  }



}


/* ---------------------------------------------- NAVBAR ------------------------------------------ */

.navi {
  width: auto;
  height: auto;
  background-color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

#logo {
  font-size: 30px;
  float: left;
  display: inline-block;
}

#ham {
  float: right;
  font-size: 30px;
}


@media only screen and (max-width: 800px) {
  
 

}






